PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=127.0.0.1

# ListenIP=0.0.0.0
StartAgents=0
ServerActive=127.0.0.1
Hostname=Zabbix server

# RefreshActiveChecks=120

# BufferSend=5
# BufferSize=100
# MaxLinesPerSecond=20
# Timeout=3

Include=/etc/zabbix/zabbix_agentd.d/*.conf

# TLSConnect=unencrypted
# TLSAccept=unencrypted
# TLSCAFile=
# TLSCRLFile=
# TLSServerCertIssuer=
# TLSServerCertSubject=
# TLSCertFile=
# TLSKeyFile=
# TLSPSKIdentity=
# TLSPSKFile=
